@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.chart {
  position: relative;
  height: 375px;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 0px 11px 3px $clr-boxshadow;

  @include tablet {
    height: 225px;
    margin: 20px 0;
    margin-top: 20px;
  }

  @include mobile {
    height: 175px;
    margin: 20px 0;
    padding: 0px;
  }

  .chart-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;

    @include mobile {
      padding: 20px 0 0 20px;
    }
  }
}
