@use "../../styles/variables" as *;

.chart {
  height: 375px;
  margin: 10px 30px;
  padding: 30px;
  box-shadow: 0px 0px 11px 3px $clr-boxshadow;

  .chart-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
  }
}
