@use "../../styles/variables" as *;

.user {
  flex: 6;
  padding: 20px;

  .user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
      font-size: 32px;
    }

    .add-user-btn {
      margin-right: 20px;
      padding: 15px;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      background-color: $clr-btn-dark;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        background-color: $clr-btn-hover;
      }
    }
  }

  .user-body {
    display: flex;

    .profile-container {
      flex: 1;
      margin: 0 20px;
      padding: 40px;
      box-shadow: 0px 0px 11px 3px $clr-boxshadow;

      .profile-header {
        display: flex;

        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 20px;
        }
                
        .header {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;

          .name {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 5px;
          }

          .title {
            color: var(--clr-font-sec);
            font-size: 18px;
          }
        }
      }

      .profile-section {
        display: flex;
        flex-direction: column;

        .section-title {
          color: var(--clr-font-sec);
          margin-top: 20px;
          margin-bottom: 10px;
        }

        .section-entry {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .icon {
            margin-right: 10px;
          }
        }
      }
    }
        
    .update-container {
      flex: 2;
      margin: 0 20px;
      padding: 40px;
      box-shadow: 0px 0px 11px 3px $clr-boxshadow;

      .update-header {
        font-size: 26px;
        margin-bottom: 20px;
      }

      .update-form {
        display: flex;
        justify-content: space-between;

        .left-form {

          .update-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            .label {
              margin-bottom: 5px;
            }

            .item {
              width: 220px;
              padding: 5px;
              margin-left: 20px;
              border: none;
              border-bottom: 2px solid var(--clr-font-sec);

              &:focus {
                outline: none;
                box-shadow: 0 0 5px $clr-boxshadow;
              }
            }
          }
        }

        .right-form {
          display: flex;
          flex-direction: column;
          align-items: end;
          justify-content: space-between;
                      
          .update-photo {
            position: relative;
            width: 250px;
            height: 250px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              opacity: .5;
              border: 1px dashed var(--clr-font-sec);
            }
            .icon {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 50px;
              cursor: pointer;  
            }
          }

          .update-item {
            display: flex;
            flex-direction: column;
            margin: 15px 0;
            width: 100%;

            .label {
              margin-bottom: 5px;
            }

            .item-radio {
              display: grid;
              grid-template-columns: 1rem auto;
              margin-left: 20px;
              border: none;
                        
              label {
                padding: 5px;
                margin-left: 5px;
                cursor: pointer;
              }

              input {
                &:hover {
                  cursor: pointer;
                }

                &:checked {
                  accent-color: var(--clr-font-ter);
                }
              }
            }
          }
                      
          .update-user-btn {
            width: 100px;
            padding: 15px;
            border: none;
            border-radius: 5px;
            background-color: $clr-btn-light;
            font-size: 18px;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
              background-color: $clr-btn-hover;
            }
          }
        }
      }
    }
  }
}

.user-error {
  flex: 6;
  padding: 50px;
}