.listItem {
  width: 225px;
  height: 120px;
  background-color: var(--main-clr);
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  video {
    width: 100%;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    width: 281px;
    height: max-content; //300px
    position: absolute;
    top: -150px;
    -webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.62); 
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.62);
    border-radius: 10px;

    img {
      height: 150px;
    }

    .itemInfo {
      display: flex;
      flex-direction: column;
      padding: 5px;

      .icons {
        display: flex;
        margin-bottom: 8px;

        .icon {
          border: 2px solid white;
          border-radius: 50%;
          padding: 5px;
          margin-right: 10px;
          font-size: 32px;
          color: white;
        }
      }

      .itemInfoHeader {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 600;
        color: grey;

        span {
          margin-right: 15px;
        }

        .limit {
          border: 1px solid grey;
          border-radius: 5px;
          padding: 1px 3px;
          margin-left: 5px;
        }
      }

      .description {
        font-size: 13;
        margin-bottom: 5px;
      }

      .genre {
        font-size: 14;
        color: lightgray;
      }
    }
  }
}