# Node.js dependencies
node_modules/

# build folders
build/
dist/

# env files
.env
.env.local
.env.*.local

# system files
.DS_Store
*.log
.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist
dist-ssr
*.local

# admin specific
admin/build/
admin/node_modules/
admin/.env
admin/install_requirements.txt

# client specific
client/build/
client/node_modules/
client/install_requirements.txt

# backend specific
backend/node_modules/
backend/logs/
backend/.env
backend/install_requirements.txt

# database specific
db/data/img/
db/data/imgSm/
db/data/ml_output/
db/data/trailer/
db/data/video/
db/node_modules/
db/.env
db/firebase-key.json
db/install_requirements.txt

# docs specific
docs/demo_na_dp_v1.0.0.mp4