@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.featured {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  gap: 20px;

  @include tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include mobile {
    grid-template-columns: 1fr;
  }

  .featured-item {
    width: 100%;
    max-width: 230px;
    padding: 20px;
    box-shadow: 0px 0px 11px 3px $clr-boxshadow;
    container-type: inline-size;

    @include tablet {
      padding: 10px;

      &.item2 {
        grid-column: 1 / -1;
      }
    }

    @include mobile {
      padding: 10px;

      &.item2 {
        grid-column: 1;
      }
    }

    .item-header {
      font-size: 24px;
    }

    .item-body {
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      justify-items: center;
            
      .money {
        font-size: 26px;
        font-weight: 900;
      }

      .rate {
        display: flex;
        align-items: center;
          
        .arrow {
          margin-left: 2px;
          font-size: 28px;

          &.negative {
            color: $clr-error-bold;
          }

          &.positive {
            color: $clr-success-bold;
          }
        }
      }
      
    }

    @container (max-width: 180px) {
      .item-body {
        grid-template-columns: 1fr;
        text-align: center;
      }

      .rate {
        justify-content: center;
      }
    }
  }
}