@use "../../styles/mixins" as *;

.title-svg {
  width: 900px;
  height: 100px;

  @include laptop {
    width: 900px;
    height: 90px;
  }

  @include tablet {
    width: 700px;
    height: 80px;
  }

  @include mobile {
    width: 350px;
    height: 75px;
  }

  .title-bg {
    width: 100%;
    height: 100%; 
    fill: transparent;
  }

  .title-text {
    font-size: 90px;
    font-family: "Caveat Brush";
    fill: orange;
    text-anchor: start;
    alignment-baseline: middle;

    @include laptop {
      font-size: 75px;
    }

    @include tablet {
      font-size: 75px;
    }

    @include mobile {
      font-size: 50px;
    }
  }
}