@use "../../styles/variables" as *;

.movielist {
  flex: 6;
  padding: 20px;

  // .movie {
  //   display: flex;
  //   align-items: center;
  //   margin-left: 10px;
  //   height: 100%;

  //   .movie-img {
  //     width: 30px !important;
  //     height: 30px !important;
  //     object-fit: cover !important;
  //     border-radius: 50% !important;
  //     margin-right: 10px !important;
  //   }
  // }

  .actions {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .edit {
      padding: 5px;
      border: none;
      background-color: $clr-btn-light;
      border-radius: 5px;
      margin-right: 15px;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
        background-color: $clr-btn-hover;
      }
    }

    .delete {
      font-size: 25px;
      color: $clr-accent !important;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}