@use "../../styles/variables" as *;

.movielist {
  flex: 6;
  min-width: 0;
  max-width: 95%;
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;

  .actions {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .edit {
      padding: 5px;
      border: none;
      background-color: $clr-btn-light;
      border-radius: 5px;
      margin-right: 15px;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
        background-color: $clr-btn-hover;
      }
    }

    .delete {
      font-size: 25px;
      color: $clr-accent !important;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}