.list {
  width: 100%;
  margin-top: 10px;

  .listTitle {
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
  }

  .wrapper {
    position: relative;

    .sliderArrow {
      width: 50px;
      height: 100%;
      position: absolute;
      background-color: rgba(22,22,22,.5);
      color: white;
      z-index: 1;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;

      &.left {
        left: 0;
      }

      &.right {
        right: 0
      }
    }
    
    .container {
      margin-top: 10px;
      margin-left: 50px;
      width: max-content;
      display: flex;
      transform: translateX(0px);
      transition: all .2s ease;
    }
  }
}