@use "../../styles/mixins" as *;

.watch {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  overflow: hidden;

  .back {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    cursor: pointer;
    z-index: 2;

    .arrow {
      border: 2px solid white;
      border-radius: 50%;
      padding: 4px;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;

    @include tablet {
      width: 100%;
      height: 100%;
      object-fit: contain;
      background-color: black;
    }

    @include mobile {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vh;
      height: 100vw;
      transform: translate(-50%, -50%) rotate(90deg);
      object-fit: contain;
      background-color: black;
    }
  }
}
