@use "../../styles/variables" as *;

.widget-lg {
  flex: 2;
  margin: 10px;
  padding: 30px;
  box-shadow: 0px 0px 11px 3px $clr-boxshadow;

  .widget-header {
    font-size: 24px;
  }

  .widget-table {
    width: 100%;
    margin-top: 30px;
    border-spacing: 20px;

    .table-tr {
      text-align: center;

      th {
        font-weight: 800;
        font-size: 18px;
      }

      .user {
        display: flex;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 15px;
        }

        .name {
          font-weight: 800;
        }
      }

      .status {
        .status-btn {
          width: 100px;
          padding: 10px;
          border-style: none;
          border-radius: 5px;
          color: var(--clr-font-prim);
          cursor: default;

          &.approved {
            background-color: $clr-success;
          }

          &.rejected {
            background-color: $clr-error;
          }

          &.pending {
            background-color: $clr-pending;
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}