@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.widget-lg {
  height: 600px;
  padding-top: 30px;
  box-shadow: 0px 0px 11px 3px $clr-boxshadow;

  @include laptop {
    overflow-x: auto;
    overflow-y: hidden;
  }

  @include tablet {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    overflow-x: none;
    overflow-y: none;
  }

  @include mobile {
    width: 100%;
    min-width: 100%;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .widget-header {
    margin-left: 30px;
    font-size: 24px;
  }

  .widget-table {
    margin: 0 auto;
    min-width: 600px;
    max-width: 100%;
    margin-top: 30px;

    .table-tr {
      text-align: center;

      > *:not(:last-child) {
        padding-right: 20px;
      }

      th {
        font-weight: 800;
        font-size: 18px;
      }

      .user {
        display: flex;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 5px;
        }

        .name {
          font-weight: 800;
        }
      }

      .status {
        .status-btn {
          width: 100px;
          padding: 10px;
          border-style: none;
          border-radius: 5px;
          color: var(--clr-font-prim);
          cursor: default;

          &.approved {
            background-color: $clr-success;
          }

          &.rejected {
            background-color: $clr-error;
          }

          &.pending {
            background-color: $clr-pending;
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}