@use "../../styles/variables" as *;

.newlist {
  flex: 6;
  min-width: 0;
  padding: 20px;
  margin: 40px;
  height: max-content;
  box-shadow: 0px 0px 11px 3px $clr-boxshadow;
  container-type: inline-size;
  container-name: newlist;

  .newlist-header {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .newlist-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    .section-left {
      flex: 2;
      margin-left: 20px;
      display: flex;
      flex-direction: column;

      .enter-item {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        
        .label {
          font-size: 18px;
          margin-bottom: 5px;
        }

        input {
          width: 275px;
          padding: 5px;
          margin-left: 20px;
          margin-bottom: 5px;
          border: none;
          border-bottom: 2px solid var(--clr-font-sec);
          font-size: 16px;

          &:focus {
            outline: none;
            box-shadow: 0 0 5px $clr-boxshadow;
          }
        }

        select {
          margin-left: 20px;
          width: 100px;
          padding: 5px;
          font-size: 16px;
          cursor: pointer;

          &:focus {
            outline: none;
            border: 2px solid var(--clr-font-sec);
            box-shadow: 0 0 4px var(--clr-font-sec);
          }
        }
      }

      .genre-section {
        width: max-content;
        margin-top: 15px;
        flex: 2;
        display: flex;
        flex-direction: column;
        
        .label {
          font-size: 18px;
          margin-bottom: 5px;
        }

        .dropdown {
          width: 70%;
          margin-left: 20px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 3px;
          column-gap: 8px;

          .dropdown-item {
            display: flex;
            gap: 5px;
            color: $clr-gray4;
            cursor: pointer;

            input[type="checkbox"] {
              accent-color: var(--clr-accent);
              cursor: pointer;
            }

            &:has(input:checked) {
              color: var(--clr-font-prim);
            }
          }
        }
      }
    }

    .section-right {
      flex: 3;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .content-section {
        width: 450px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        padding-right: 20px;

        .label {
          font-size: 18px;
          margin-bottom: 5px;
        }


        .searchbar {
          min-width: 250px;
          max-width: 100%;
          margin-left: 20px;
          padding: 10px;
          border: none;
          border-bottom: 2px solid var(--clr-font-sec);
          font-size: 14px;

          &:focus {
            outline: none;
            box-shadow: 0 0 5px $clr-boxshadow;
          }
        }

        .filter-toggle {
          width: 130px;
          margin-left: 20px;
          padding: 5px;
          border: none;
          border-bottom: 2px solid var(--clr-font-sec);
          font-size: 14px;
          cursor: pointer;

          &:focus {
            outline: none;
            border: 2px solid var(--clr-font-sec);
            box-shadow: 0 0 4px var(--clr-font-sec);
          }
        }

        .content-list {
          min-width: 250px;
          max-width: 100%;
          margin-left: 20px;
          padding: 5px;
          height: 250px;
          border: none;
          border-bottom: 2px solid var(--clr-font-sec);
          font-size: 14px;
          overflow-x: auto;
          overflow-y: auto;
          cursor: pointer;

          &:focus {
            outline: none;
            border: 2px solid var(--clr-font-sec);
            box-shadow: 0 0 4px var(--clr-font-sec);
          }
        }
      }

      .btn {
        display: flex;
        justify-content: flex-end;

        .newlist-btn {
          margin-top: 20px;
          margin-right: 20px;
          width: 100px;
          padding: 15px;
          border: none;
          border-radius: 5px;
          background-color: $clr-btn-light;
          font-size: 18px;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
            background-color: $clr-btn-hover;
          }
        }
      }
    }
  }

  @container newlist (max-width: 850px) {
    .newlist-form {
      grid-template-columns: 1fr;
    }
  }

  @container newlist (max-width: 475px) {
    .newlist-form {
      .section-left,
      .section-right {
        overflow-x: auto;
        overflow-y: hidden;
      }
    }
  }
}
