@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.sidebar {
  flex: 1;
  max-width: 180px;
  height: calc(100vh - 80px);
  position: sticky;
  top: 80px;

  @include tablet {
    width: 140px;
  }

  @include mobile {
    position: fixed;
    left: -100%;
    top: 0;
    width: 140px;
    height: 100vh;
    z-index: 1000;
    transition: left 0.3s ease;
    background: var(--clr-background);
    opacity: 0.95;
    padding-top: 100px;
  }

  &.open {
    @include mobile {
      left: 0;
    }
  }

  .menu-container {
    padding: 20px;

    @include tablet {
      padding: 15px 10px 15px;
    }

    @include mobile {
      padding: 15px;
    }

    .menu-block {
      margin-bottom: 20px;

      .block-title {
        text-transform: uppercase;
        color: var(--clr-font-sec);
        font-size: 15px;
        margin-bottom: 5px;

        @include tablet {
          font-size: 14px;
        }

        @include mobile {
          font-size: 14px;
        }
      }

      .block-selection {

        .block-item {
          padding: 5px;
          display: flex;
          align-items: center;
          list-style: none;
          cursor: pointer;
          font-size: 14px;

          &.active, 
          &:hover {
            background-color: $clr-btn-hover;
            color: $clr-black;
          }

          .icon {
            margin-right: 5px;
          }

          @include tablet {
            font-size: 13px;
          }
          
          @include mobile {
            font-size: 13px;
          }
        }

        .inactive {
          color: var(--clr-font-ter);
          cursor: default;
        }
      }
    }
  }
}

.sidebar-overlay {
  display: none;

  @include mobile {
    display: block;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 999;
  }
}