.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  ), url("https://images.pexels.com/photos/7991486/pexels-photo-7991486.jpeg") no-repeat center center;
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 150px;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      width: 400px;
      height: 400px;
      padding: 50px;
      border-radius: 5px;
      background-color: var(--main-clr);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .warning {
        margin: 0 auto;
        width: 85%;
        padding: 15px;
        border-radius: 5px;
        background-color: orange;
        opacity: 0.85;
        color: black;
        text-align: center;
      }

      input {
        height: 40px;
        border-radius: 5px;
        background-color: gray;
        color: white;
        padding-left: 10px;

        &::placeholder {
          color: lightgray;
        }
      }

      button {
        height: 40px;
        border-radius: 5px;
        background-color: red;
        color: white;
        border: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }

      span {
        color: lightgrey;
        b {
          color: white;
        }
      }
    }
  }
}