@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.topbar {
  width: 100%;
  min-height: 80px;
  max-height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: var(--clr-background);
  z-index: 100;
    
  .top-left {
    display: flex;
    flex-direction: column;
    height: 100%;

    .logo {
      margin: 20px;
      width: 300px;
      cursor: pointer;
    }

    .logo.small {
      display: none
    }

    @include mobile {
      .logo.big {
        display: none;
      }

      .logo.small {
        display: block;
        margin: 0;
        padding-top: 10px;
        width: 200px;
      }
    }

    .menu-icon {
      display: none;
      

      @include mobile {
        display: block;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }

  .top-right {
    padding-top: 10px;
    display: grid;
    align-items: center;

    @include desktop {
      margin-right: 40px;
    }

    @include laptop {
      grid-template-columns: repeat(3, 1fr);
      margin-right: -30px;
    }

    @include tablet {
      margin-top: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin-left: -20px;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin-top: -20px;
      margin-left: -20px;
    }


    .icon-group {
      grid-row: 1;
      display: flex;
      align-items: center;
      gap: 15px;

      @include laptop {
        grid-column: 2 / 3;
      }

      @include tablet {
        grid-column: 1 / 2;
      }

      @include mobile {
        grid-column: 1 / 2;
      }

      .icon-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .icon {
          font-size: 30px;

          @include mobile {
            font-size: 25px;
          }
        }

        .inactive {
          color: var(--clr-font-ter);
          cursor: default;
        }

        .icon-badge {
          position: absolute;
          top: -8px;
          left: 18px;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: $clr-accent;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }
    }

    .toggle-container {
      padding-top: 5px;
      grid-column: 1 / 2;
      grid-row: 1;

      @include laptop {
        grid-row: 1;
      }

      @include tablet {
        grid-row: 2;
      }

      @include mobile {
        grid-row: 2;
      }
    }

    .dropdown {
      grid-row: 1;
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 10px;

      @include laptop {
        grid-column: 3 / 4;
      }

      @include tablet {
        grid-column: 2 / 3;
        grid-row: 1 / span 2;
        margin-left: 0;
      }

      @include mobile {
        grid-column: 2 / 3;
        grid-row: 1 / span 2;
        margin-left: 0;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #787878;
        object-fit: cover;
      }

      .dropdown-options {
        display: none;
      }

      &:hover {
        .dropdown-options {
          width: 150px;
          height: 150px;
          padding: 12px;
          position: absolute;
          top: 55px;
          left: -97px;
          display: flex;
          flex-direction: column;
          background: transparent;

          &::after {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            border-top: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid $clr-btn-light;
            border-left: 12px solid transparent;
            top: -12px;
            right: 12px;
          }

          span {
            width: 100%;
            height: calc(50% - 7.5px);
            padding: 15px;
            background-color: $clr-btn-light;
            text-align: center;
            color: black;
            cursor: pointer;

            &:hover {
              font-size: 1.15rem;
            }
          }
        }
      }
    }
  }
}