@use "../../styles/variables" as *;

.topbar {
  width: 100%;
  height: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: var(--clr-background);
  z-index: 100;
    
  .top-left {
    height: 100%;

    img {
      width: 300px;
      cursor: pointer;
    }
  }

  .top-right {
    display: flex;
    align-items: center;
    justify-content: center;

    .toggle-container {
      border-right: 2px solid var(--clr-font-prim);
      margin-right: 10px;
    }

    .icon-container {
      position: relative;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .icon {
        font-size: 30px;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid #787878;
      }

      .icon-badge {
        position: absolute;
        top: -8px;
        left: 18px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $clr-accent;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }

    .dropdown {
      display: flex;
      align-items: center;
      position: relative; 

      .dropdown-options {
        display: none;
      }

      &:hover {
        .dropdown-options {
          width: 150px;
          height: 150px;
          padding: 12px;
          position: absolute;
          top: 55px;
          left: -97px;
          display: flex;
          flex-direction: column;
          background: transparent;

          &::after {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            border-top: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid $clr-btn-light;
            border-left: 12px solid transparent;
            top: -12px;
            right: 12px;
          }

          span {
            width: 100%;
            height: calc(50% - 7.5px);
            padding: 15px;
            background-color: $clr-btn-light;
            text-align: center;
            color: black;
            cursor: pointer;

            &:hover {
              font-size: 1.15rem;
            }
          }
        }
      }
    }
  }
}