@use "../../styles/mixins" as *;

.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  background: linear-gradient(to top, transparent 0%, rgba(0,0,0,.2) 50%);
  font-size: 16px;
  z-index: 100;

  &.scrolled {
    background-color: var(--main-clr);
  }

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    .left {
      display: flex;
      align-items: center;

      img {
        height: 90px;
        margin-right: 50px;

        @include mobile {
          display: none;
        }
      }

      span {
        margin-right: 20px;
        cursor: pointer;

        @include tablet {
          display: none;
        }

        &.main-lks {
          @include tablet {
            display: block;
          }
        }
      }
    }
        
    .right {
      display: flex;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
      }

      span {
        margin-right: 15px;
        cursor: pointer;

        &.notification {
          @include mobile {
            display: none;
          }
        }
      }

      .profile {
        display: flex;
        align-items: center;
        position: relative; 

        .dropdown-options {
          display: none;
        }

        &:hover {
          .dropdown-options {
            width: 150px;
            height: 150px;
            padding: 15px;
            position: absolute;
            top: 40px;
            left: -76px;
            display: flex;
            flex-direction: column;
            background: transparent;

            &::after {
              content: '';
              position: absolute;
              height: 0;
              width: 0;
              border-top: 12px solid transparent;
              border-right: 12px solid transparent;
              border-bottom: 12px solid white;
              border-left: 12px solid transparent;
              top: -9px;
              right: 15px;
            }

            span {
              width: 100%;
              height: calc(50% - 7.5px);
              padding: 15px;
              background-color: var(--main-clr);
              text-align: center;
              cursor: pointer;

              &:hover {
                font-size: 1.15rem;
              }
            }
          }
        }
      }            
    }
  }
}