@use "../../styles/variables" as *;

.movie {
  flex: 6;
  padding: 20px;

  .movie-header {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
      font-size: 32px;
    }

    .add-movie-btn {
      padding: 15px;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      background-color: $clr-btn-dark;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        background-color: $clr-btn-hover;
      }
    }
  }

  .movie-body {
    width: 95%;
    height: max-content;
    margin-bottom: 20px;
    display: flex;

    .section-left {
      flex: 1;
      height: 100%;
      padding: 30px;
      box-shadow: 0px 0px 11px 3px $clr-boxshadow;

      .header {
        display: flex;
        align-items: center;

        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 20px;
        }

        span {
          height: max-content;
          font-size: 24px;
          font-weight: 700;
        }
      }

      .table {
        margin-left: 90px;

        tbody tr {
          td {
            border: 1px solid var(--clr-font-sec);
            padding: 10px;

            &.class {
              font-weight: 700;
              text-transform: uppercase;
              text-align: right;

              span {
                text-transform: none;
              }
            }

            &.entry {
              text-align: center;
            }
          }

          td:first-child {
            border-left: none;
          }

          td:last-child {
            border-right: none;
          }
        }

        tbody tr:first-child td {
          border-top: none;
        }
                
        tbody tr:last-child td {
          border-bottom: none;
        }
      }
    }

    // .section-right {
    //   flex: 2;
    //   height: 100%;
    //   margin: 0 20px;
    //   padding: 30px;
    // }
  }

  .movie-footer {
    width: 95%;
    padding: 30px;
    box-shadow: 0px 0px 11px 3px $clr-boxshadow;

    .edit-title {
      width: 100%;
      font-size: 24px;
      font-weight: 500;
    }

    .edit-form {
      width: 100%;
      display: flex;
      gap: 10px;

      .left {
        flex: 2;
        padding-top: 15px;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
        }

        input {
          width: 230px;
          padding: 5px;
          margin-left: 20px;
          margin-bottom: 15px;
          border: none;
          border-bottom: 2px solid var(--clr-font-sec);

          &:focus {
            outline: none;
            box-shadow: 0 0 5px $clr-boxshadow;
          }
        }

        .short-input {
          width: 100px;
        }

        select {
          margin-left: 20px;
          width: 100px;
          padding: 5px;
          cursor: pointer;

          &:focus {
            outline: none;
            border: 2px solid var(--clr-font-sec);
            box-shadow: 0 0 4px var(--clr-font-sec);
          }
        }
      }

      .middle {
        flex: 4;
        padding-top: 15px;
        display: flex;
        justify-content: space-between;

        .section {
          width: 260px;

          .update-photo {
            width: 200px;
            height: 120px;
            margin-top: 5px;
            margin-left: 20px;
            margin-bottom: 15px;
            position: relative;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              opacity: .5;
            }

            .icon {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 50px;
              cursor: pointer;
            }
          }

          .update-description {
            width: 100%;
           
            .enter-text {
              margin-top: 5px;
              margin-left: 20px;
              width: 200px;
              height: 150px;
              resize: vertical;
              padding: 5px;
              border: none;
              border-bottom: 2px solid var(--clr-font-sec);

              &:focus {
                outline: none;
                box-shadow: 0 0 5px $clr-boxshadow;
              }
            }
          }
        }
      }

      .right {
          flex: 1;
          padding-top: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

        .section {
          flex: 1;
          width: 240px;
          margin-bottom: 15px;

          .span{
            margin-bottom: 5px;
          }

          .upload-source {
            input {
              margin-top: 5px;
              margin-left: 20px;
            }
          }
        }

        .genre-section {
          width: 100%;
          flex: 2;
          display: flex;
          flex-direction: column;
          
          .label {
            margin-bottom: 5px;
          }

          .dropdown {
            width: 100%;
            margin-left: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3px;

            .dropdown-item {
              display: flex;
              gap: 5px;
              color: $clr-gray4;
              font-size: .9rem;
              cursor: pointer;

              input[type="checkbox"] {
                accent-color: var(--clr-accent);
                cursor: pointer;
              }

              &:has(input:checked) {
                color: var(--clr-font-prim);
              }
            }
          }
        }

        .upload-btn {
          flex: 1;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          align-items: end;
          justify-content: flex-end;

          .update-movie-btn {
            width: 100px;
            padding: 15px;
            border: none;
            border-radius: 5px;
            background-color: $clr-btn-light;
            font-size: 18px;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
              background-color: $clr-btn-hover;
            }
          }
        }
      }
    }
  }
}

.movie-error {
  flex: 6;
  padding: 50px;
}