@use "../../styles/variables" as *;

.toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  margin-right: 10px;

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--clr-font-prim);
    font-size: 28px;

    .icon {
      font-size: 28px;
      transition: color 0.3s ease;
    }
  }

  .toggle-switch {
    appearance: none;
    width: 46px;
    height: 26px;
    border-radius: 16px;
    background-color: $clr-accent;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 250ms ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: var(--clr-background);
      transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
    }

    &:checked::before {
      transform: translateX(20px);
    }
  }
}
