@use "../../styles/variables" as *;

.newuser {
  flex: 6;
  min-width: 0;
  padding: 20px;
  margin: 40px;
  box-shadow: 0px 0px 11px 3px $clr-boxshadow;
  container-type: inline-size;
  container-name: newuser;

  .newuser-header {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .newuser-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .form-section {
      padding: 0 30px;
      flex: 1;

      .enter-item {
        margin-top: 15px;
        width: 40%;
        display: flex;
        flex-direction: column;

        .label {
          font-size: 18px;
          margin-bottom: 5px;
          width: max-content;
        }

        .item {
          width: 220px;
          padding: 5px;
          margin-left: 20px;
          margin-bottom: 5px;
          border: none;
          border-bottom: 2px solid var(--clr-font-sec);
          font-size: 16px;

          &:focus {
            outline: none;
            box-shadow: 0 0 5px $clr-boxshadow;
          }
        }

        .item-radio {
          display: grid;
          grid-template-columns: 1rem auto;
          margin-left: 20px;
          border: none;
                    
          label {
            padding: 5px;
            margin-left: 5px;
            cursor: pointer;
          }

          input {
            &:hover {
              cursor: pointer;
            }

            &:checked {
              accent-color: var(--clr-font-ter);
            }
          }
        }

        .item-select {
          margin-left: 20px;
          width: 100px;
          padding: 5px;
          cursor: pointer;

          &:focus {
            outline: none;
            border: 2px solid var(--clr-font-sec);
            box-shadow: 0 0 4px var(--clr-font-sec);
          }
        }

        .enter-img {
          position: relative;
          width: 150px;
          height: 150px;
          margin-left: 20px;
          border: 1px dashed var(--clr-font-sec);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .5;
          }
          .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            cursor: pointer;
          }
        }
      }

      .newuser-create-btn {
        margin-top: 50px;
        float: right;
        width: 100px;
        padding: 15px;
        border: none;
        border-radius: 5px;
        background-color: $clr-btn-light;
        font-size: 18px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          background-color: $clr-btn-hover;
        }
      }
    }
  }

  @container newuser (max-width: 600px) {
    .newuser-form {
      grid-template-columns: 1fr;
    }
  }
}