@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.widget-sm {
  height: 600px;
  padding: 30px;
  box-shadow: 0px 0px 11px 3px $clr-boxshadow;
  overflow-x: auto;
  overflow-y: auto;

  @include tablet {
    width: 100%;
    max-width: 100%;
  }

  @include mobile {
    width: 100%;
    max-width: 100%;
  }

  .widget-header {
    font-size: 24px;
  }

  .widget-list {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;

    .list-item {
      display: flex;
      margin-bottom: 20px;
      display: flex;
      align-items: center;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 15px;
      }

      .user {
        width: 160px;
        display: flex;
        flex-direction: column;

        .user-name {
          font-weight: 800;
        }

        .user-title {
          font-size: 14px;
        }
      }

      button {
        height: 35px;
        padding: 10px;
        display: flex;
        align-items: center;
        border-style: none;
        border-radius: 5px;
        background-color: $clr-btn-light;
        cursor: pointer;

        .icon {
          margin-right: 5px;
        }
        
        &:hover {
          transform: scale(1.1);
          background-color: $clr-btn-hover;
        }
      }
    }
  }
}