@use "../../styles/variables" as *;

.widget-sm {
  flex: 1;
  margin: 10px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 0px 0px 11px 3px $clr-boxshadow;

  .widget-header {
    font-size: 24px;
  }

  .widget-list {
    margin-top: 30px;

    .list-item {
      display: flex;
      margin-bottom: 20px;
      display: flex;
      align-items: center;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 15px;
      }

      .user {
        width: 160px;
        display: flex;
        flex-direction: column;

        .user-name {
          font-weight: 800;
        }

        .user-title {
          font-size: 14px;
        }
      }

      button {
        height: 35px;
        padding: 5px;
        display: flex;
        align-items: center;
        border-style: none;
        background-color: $clr-btn-light;
        cursor: pointer;

        .icon {
          margin-right: 5px;
        }
        
        &:hover {
          transform: scale(1.1);
          background-color: $clr-btn-hover;
        }
      }
    }
  }
}