@use "../../styles/mixins" as *;

.featured {
  height: 90vh;
  position: relative;

  .category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 42px;
    font-weight: 500;
    display: flex;
    align-items: center;

    @include laptop {
      font-size: 32px;
    }

    @include tablet {
      font-size: 28px;
    }

    @include mobile {
      font-size: 24px;
    }

    select {
      margin-left: 20px;
      padding: 5px;
      background-color: var(--main-clr);
      border: 1px solid white;
      color: white;
      font-size: 14px;
      cursor: pointer;

      @include laptop {
        font-size: 14px;
      }

      @include tablet {
        font-size: 14px;
      }

      @include mobile {
        font-size: 14px;
      }
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: column;

    @include laptop {
      left: 45px;
    }

    @include tablet {
      left: 40px;
    }

    @include mobile {
      left: 30px;
    }

    img {
      width: 400px;
    }

    .description {
      width: 900px;
      margin: 20px 0px;
      font-size: 18px;
      line-height: 1.5;

      @include laptop {
        width: 700px;
      }

      @include tablet {
        width: 500px;
      }

      @include mobile {
        width: 350px;
      }
    }

    .buttons {
      display: flex;
            
      button {
        width: max-content;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;
        
        @include tablet {
          font-size: 16px;
          padding: 5px 10px 5px 5px;
        }

        @include tablet {
          font-size: 14px;
          padding: 3px 10px 3px 3px;
        }

        &.play {
          background-color: white;
          color: var(--main-clr);
        }

        &.more {
          background-color: grey;
          color: white;

          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
}