@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.list {
  flex: 6;
  min-width: 0;
  padding: 20px;
  container-type: inline-size;
  container-name: list-entry;

  .list-header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
      font-size: 32px;
    }

    .add-list-btn {
      padding: 15px;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      background-color: $clr-btn-dark;
      cursor: pointer;

      @include mobile {
        padding: 10px;
        max-width: 125px;
      }

      &:hover {
        transform: scale(1.1);
        background-color: $clr-btn-hover;
      }
    }
  }

  .list-body {
    width: 100%;
    max-width: 100%;
    height: max-content;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;

    .section-left {
      height: 100%;
      padding: 30px;
      box-shadow: 0px 0px 11px 3px $clr-boxshadow;

      .header {
        display: flex;
        align-items: center;

        span {
          height: max-content;
          font-size: 24px;
          font-weight: 700;
        }
      }

      .table {
        margin-left: 90px;

        tbody tr {
          td {
            border: 1px solid var(--clr-font-sec);
            padding: 10px;

            &.class {
              font-weight: 700;
              text-transform: uppercase;
              text-align: right;
            }

            &.entry {
              text-align: center;
            }
          }

          td:first-child {
            border-left: none;
          }

          td:last-child {
            border-right: none;
          }
        }

        tbody tr:first-child td {
          border-top: none;
        }
                
        tbody tr:last-child td {
          border-bottom: none;
        }
      }
    }

    // .section-right {
    //   height: 100%;
    //   margin: 0 20px;
    //   padding: 30px;
    // }
  }

  .list-footer {
    width: 100%;
    max-width: 100%;
    padding: 30px;
    box-shadow: 0px 0px 11px 3px $clr-boxshadow;

    .edit-title {
      width: 100%;
      font-size: 24px;
      font-weight: 500;
    }

    .edit-form {
      width: calc(100% - 30px);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      .left {
        padding-top: 15px;
        display: flex;
        flex-direction: column;

        .label {
          font-size: 18px;
          margin-bottom: 5px;
        }

        .text-input {
          width: 275px;
          padding: 5px;
          margin-left: 20px;
          margin-bottom: 15px;
          border: none;
          border-bottom: 2px solid var(--clr-font-sec);

          &:focus {
            outline: none;
            box-shadow: 0 0 5px $clr-boxshadow;
          }
        }

        .type-section {
          margin-left: 20px;
          margin-bottom: 15px;
          width: 100px;
          padding: 5px;
          cursor: pointer;

          &:focus {
            outline: none;
            border: 2px solid var(--clr-font-sec);
            box-shadow: 0 0 4px var(--clr-font-sec);
          }
        }

        .genre-section {
          width: 400px;
          display: flex;
          flex-direction: column;
          
          .label {
            font-size: 18px;
            margin-bottom: 5px;
          }

          .dropdown {
            margin-left: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3px;
            

            .dropdown-item {
              display: flex;
              gap: 5px;
              color: $clr-gray4;
              cursor: pointer;

              input[type="checkbox"] {
                accent-color: var(--clr-accent);
                cursor: pointer;
              }

              &:has(input:checked) {
                color: var(--clr-font-prim);
              }
            }
          }
        }
      }

      .right {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content-section {
          width: 450px;
          display: flex;
          flex-direction: column;
          padding-right: 20px;

          .label {
            font-size: 18px;
            margin-bottom: 5px;
          }


          .searchbar {
            margin-left: 20px;
            margin-bottom: 0px;
            padding: 10px;
            border: none;
            border-bottom: 2px solid var(--clr-font-sec);
            font-size: 14px;

            &:focus {
              outline: none;
              box-shadow: 0 0 5px $clr-boxshadow;
            }
          }

          .filter-toggle {
            width: 130px;
            margin-left: 20px;
            padding: 5px;
            border: none;
            border-bottom: 2px solid var(--clr-font-sec);
            font-size: 14px;
            cursor: pointer;

            &:focus {
              outline: none;
              border: 2px solid var(--clr-font-sec);
              box-shadow: 0 0 4px var(--clr-font-sec);
            }
          }

          .content-list {
            height: 250px;
            padding: 5px;
            margin-left: 20px;
            border: none;
            border-bottom: 2px solid var(--clr-font-sec);
            font-size: 14px;
            overflow-x: auto;
            overflow-y: auto;
            cursor: pointer;

            &:focus {
              outline: none;
              border: 2px solid var(--clr-font-sec);
              box-shadow: 0 0 4px var(--clr-font-sec);
            }
          }
        }

        .upload-btn {
          flex: 1;
          margin-top: 20px;
          padding-right: 20px;
          display: flex;
          flex-direction: column;
          align-items: end;
          justify-content: flex-end;

          .update-list-btn {
            width: 100px;
            padding: 15px;
            border: none;
            border-radius: 5px;
            background-color: $clr-btn-light;
            font-size: 18px;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
              background-color: $clr-btn-hover;
            }
          }
        }
      }
    }
  }

  @container list-entry (max-width: 850px) {
    .list-body,
    .list-footer .edit-form {
      grid-template-columns: 1fr;
    }
  }

  @container list-entry (max-width: 475px) {
    .list-body,
    .list-footer {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}

.list-error {
  flex: 6;
  padding: 50px;
}