.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  ), url("https://images.pexels.com/photos/7991486/pexels-photo-7991486.jpeg") no-repeat center center;
  background-size: cover;
  position: relative;

  .top {
    position: relative;
    z-index: 10;

    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 150px;
      }

      .loginBtn {
        background-color: red;
        border: none;
        color: white;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        

    h1 {
      font-size: 50px;
    }

    h2 {
      margin: 20px;
    }

    p {
      font-size: 20px;
    }

    .userInput {
      width: 50%;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      height: 50px;
      border-radius: 5px;

      input {
        flex: 9;
        height: 100%;
        border: none;
        padding: 0 10px;
        font-size: 20px;
        border-radius: 5px;
        margin-right: 1px;
      }

      .registerBtn {
        flex: 3;
        height: 100%;
        background-color: red;
        border: none;
        color: white;
        font-size: 20px;
        padding: 10px 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}